<!DOCTYPE html>
<html>
  <head>
    <title>Mini chat</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/node_modules/socket.io-client/dist/socket.io.js')}}"></script>
  </head>
  <body>
    <script type=text/javascript src="{{url_for('static', filename='js/clientsocket.js') }}"></script>
    
    <form name="messagetosend" id="myForm">
      <textarea placeholder="message to send" name="message" id="messagetext"></textarea> 
    </form>
    
    <button onclick="sendmessage()">Send message</button> 
    <p id="receivedmessages"> messageslist: </p>
  </body>
</html>

